<html>
    <head>
        <style>
           p{
               font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
               font-size: 30px;
               background-color: black;
               color: white;
           }
        </style>
    </head>
    <body>
        {% include "nav.html" %}
        {% block head %}
        {% endblock %}
        <center>
        <p>Our services is to provide a platform to people for writing blogs and <br> 
            able to see the blogs of other people with different interest
        </p>
        </center>
    </body>
</html>